@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    #7aade2,
    #95c2e5,
    #d1eef5,
    #fbf6f6,
    #daeff4,
    #95c2e5,
    #7aade2
  ); /* Gradient of white, shades of blue, and gray */
}

.upload-img {
  width: 10px;
  height: 10px;
  padding-left: 80px;
  align-items: center;
  display: flex;
  justify-content: centers;
}

.container {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end; /* Align towards the right side */
  padding-right: 180px; /* Space on the right side */
  box-shadow: #005af0;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 560px;
  height: 400px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.card h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 4px dotted #1f1c1c;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 20px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  font-size: 18px;
  margin-top: 30px;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}

.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}