<!DOCTYPE html>
<html>
  <head>
    <title>Get Started</title>
    <style>
      body {
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
      }

      h1 {
        font-family: Arial, sans-serif;
        font-size: 36px;
        color: #333;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Yet to be Done....</h1>
    </div>
  </body>
</html>
